body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #111;
    overflow-x: hidden;
    position: relative;
    display: block;
}

.container-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing:border-box;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto; 
} 

.container-1 li{
    padding-left:20px;
  }

.search-1{
    display: flex;
    justify-self: center;
    border-left:  1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
   
}

#nav-search:focus{
    outline: none;
    box-shadow: none;
}

 #nav-search{
    border: none;
    outline: none;
    background-color: #fafafa;
    padding:1px;
    width:130px;
    height:20px;
    text-align: center;
    font-size:11px;
 }

 .nav-drop1{
    list-style-type:none;
    font-size: 14px;
    padding-right:15px;
    padding-left:5px;
    border-right: 1px solid #e6e6e6;
    
 }

 .nav-drop1 img{
    width: 26px;
    height: 18px;
    background-size: cover;
    background-position: center;
    margin-right: 15px; 
 }

 .dropdown-menu{
    width: 250px;
    top: 120%;
    z-index:2;
    right: 0;
    font-size:12px;
 }

 .dropdown-menu li{
    padding-top:.4em;
    padding-bottom:.4em;
    color:#80818c;
 }

 .nav-fon a{
    text-decoration: none;
    color:#80818c;
    font-size:15px;
    padding-left:20px ;
 }

 .nav-fon{
    display: flex;
    align-items: center;
    padding-left: 20px;
 }

.container-2{
    display:block;
    justify-content:space-between;
    box-sizing:border-box;
    margin-left:0;
    background: #fff;
    position: sticky;
    z-index:12345;
    
}

.container-2 nav{
   height:70px;
   width:100%;
   position:sticky;
   /* z-index:1000; */
}

.container-2 li{
    padding-left:1px;
    padding-right:50px;
}
.container-2 li a{
   font-size:1rem;
   display: flex;
   justify-content: center;
   height: 100%;
   font-weight:bold;
   line-height: 22px; 
   position:relative;
}   

.container-2 li a:hover{
   top: -0.16em;
   transition: padding .5s, top .35s, box-shadow .4s;
   box-shadow: 0 0.4rem 0 -0.2rem #d4c600;

}
.container-2 .dropdown-toggle::after { 
    content: none; 
} 

.btn-1{
   width:190px;
   font-size: 13px;
   font-weight: bold;
   border: none;
   outline: none;
   padding:8px 25px;
   background-color:#e43429;
   color: #fdeaea;
   line-height: 18px;
   border-radius:40px;
    
}

.btn-1 img{
   margin-right: 10px; 
   max-width:19px;
}


.container-2-logo img{
   width:220px;
   height:60px;
   border:0;
   display: flex;
   justify-content: center; 
   margin-top:0;
} 

.container-2-logo{
   padding-left:40px;
}

#change img{
   position: fixed;
   width: 200px;
   height: 100px;
   max-height: 100vh;
   bottom: 0px;
   right: 0px;
   z-index: 12345;
   left: auto;
   margin-right: 15px;
   margin-bottom:15px;
}

.image_off, #change:hover .image_on{
   display:none
}
.image_on, #change:hover .image_off{
   display:block
}

.carousel-indicators{
   display: flex;
   justify-content: right;
   margin-right:80px;
}

.carousel-item{
   position: relative;
}

.carsoul-btn{
  position: absolute;
  top:79%;
  margin-left:50%;
  left:50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#fff;
  color:#0e1126;
  font-size: 13px;
  font-weight:100;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;  
}

.carsoul-btn-cc3{
   position: absolute;
   top:76%;
   margin-left:50%;
   left:50px;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color:#fff;
   color:#0e1126;
   font-size: 13px;
   font-weight:100;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 25px;
   width:160px;
}

.carsoul-btn-cc1{
   position: absolute;
   top:72%;
   margin-left:50%;
   left:50px;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color:#fff;
   color:#0e1126;
   font-size: 13px;
   font-weight:100;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 25px;
   width:160px;
}

/* .animated{
   position: relative;
	width: 50px;
	max-width: 100%;
	height: 40px;
   background-color: #e43429;
   border-radius: 15px;
   animation-name:change;
   animation-timing-function:ease-in;
   animation-duration:10s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
}

.animayImg{
   position: absolute;
	width:30px;
	opacity: 0;
	animation: change-img-anim 10s infinite;
} */

/* .com-logo{
   position: sticky;
   z-index:20;
} */

.btn-grp-1{
   display: grid;
   grid-template-columns: auto auto auto auto auto auto;
   height:100px;
}

.btn-grp-1 button{
   border: none;
   outline: none;
   display: flex;
   justify-content: center;
   padding-top:25px;
   padding-left:25px; 
}

.btn-grp-1 button img{
   width:40px;
   height:40px;
}

#grp{
   z-index: 12345;
}
.calc-off, #grp:hover .calc-on{
   display:none
}
.calc-on, #grp:hover .calc-off{
   display:block
}
.percentage-off, #grp:hover .percentage-on{
   display:none
}
.percentage-on, #grp:hover .percentage-off{
   display:block
}
.rate-off, #grp:hover .rate-on{
   display:none
}
.rate-on, #grp:hover .rate-off{
   display:block
}
.dollarex-off, #grp:hover .dollarex-on{
   display:none
}
.dollarex-on, #grp:hover .dollarex-off{
   display:block
}
.app-off, #grp:hover .app-on{
   display:none
}
.app-on, #grp:hover .app-off{
   display:block
}
.notice-off, #grp:hover .notice-on{
   display:none
}
.notice-on, #grp:hover .notice-off{
   display:block
}

.grp-span{
   font-size: 1rem;
   font-weight:500;
   line-height:7.3;
   overflow-x: hidden;
   position: absolute;
}

.title-1{
   font-weight:400;
   margin-left:565px;
   margin-top:80px;
   color:#0a5bcd;
}

.title-2{
   font-weight:bolder;
   text-align: center;
   margin-top:20px; 
}

.btn{
   background-color: #e9ecef;
}

.btn-secondary{
   background-color:rgba(201,202,218,.2) !important;
}

.btn-group{
   width:490px;
   
}

.container3-drop1 button{
   border:none;
   outline: none;
}

.container3-drop1{
   margin-top:40px;
   margin-left:420px;
}

.title-3{
   font-weight:bolder;
   font-size:25px;
   width:180px;
   clear:left;
   text-align:right;
   padding-right:40px;
   padding-top:1px;
} 

.btn-grp-2{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   height:100px;
   margin-bottom:100PX;
}

.btn-grp-2 button{
   background-color:#fff;
   display: flex;
   justify-content:center;
   width:180px;
   height:140px;
   padding:40px;
   margin:30px;
   border:none;
   outline: none;
   border-radius:5px;
   box-shadow:0px 5px 5px 0px rgba(121, 114, 114, 0.5); 
}

.btn-grp-2 button img{
   width:40px;
   height:40px;
}

.grp2-span{
   font-size: 1rem;
   font-weight:500;
   line-height:7.3;
   overflow-x: hidden;
   position: absolute;
}

.deposit-off, #grp-2:hover .deposit-on{
   display:none
}
.deposit-on, #grp-2:hover .deposit-off{
   display:block
}

.wallet-off, #grp-2:hover .wallet-on{
   display:none
}
.wallet-on, #grp-2:hover .wallet-off{
   display:block
}

.acc-off, #grp-2:hover .acc-on{
   display:none
}
.acc-on, #grp-2:hover .acc-off{
   display:block
}

.card-off, #grp-2:hover .card-on{
   display:none
}
.card-on, #grp-2:hover .card-off{
   display:block
}

.loan-off, #grp-2:hover .loan-on{
   display:none
}
.loan-on, #grp-2:hover .loan-off{
   display:block
}

.btn-grp-2 button:hover{
   background-image:linear-gradient(to right,#0949a2,#095bcc);
   transform: translateY(3px);
   box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
   
}

.SaveAcc{
   margin-top:60px ;
   background-color: #e9ecef;
}

.SaveAcc p{
   margin-top:40px;
   font-size:20px;
}

.cont{
   padding-top:60px;
   padding-left:60px;
}

.saveAcc-btn{
  background-color:#fff;
  color:#0e1126;
  font-size: 13px;
  font-weight:600;
  padding: 12px 24px;
  width:180px;
  border: none;
  cursor: pointer;
  border-radius: 25px; 
  transition: all .3s ease-in-out 
}

.saveAcc-btn:hover{
   box-shadow: 0 2px 15px 0 rgba(10,5,74,.15);
}

.savebtn{
   display: grid;
   grid-template-columns:auto auto;
   width:400px;
   margin-top:40px;
}

.banner{
   padding:30px;
   height:190px;
   color:#fff;
   background-image:linear-gradient(to right,#0949a2,#095bcc) ;
}

.banner h3{
   margin-left:490px;
}

.banner-btn{
   display: grid;
   grid-template-columns: auto auto auto auto;
   margin-left:190px;
   margin-top:30px;
   width:840px;
}

.container-4{
   margin-top:30px;
}

.container-4 h1{
   margin-left:380px;
}

.cards{
   margin-top:30px;
   display:grid;
   grid-template-columns:auto auto auto;
   column-gap:60px;
   color: #111;
}

.card img{
   margin-top:50px;
   height:150px;
   
}

.card{
   display:flex;
   justify-content: center;
   margin:5px;
   width:400px;
   height:250px;
   border-radius:4px;
   box-shadow:  2px 5px 0 rgba(10,5,74,.15)
}

.card:hover{
   background-image:linear-gradient(to right,#0949a2,#095bcc);
   transform: translateY(3px);
   box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.container-4 button{
   margin-top:20px;
   margin-left:580px;
   transition: all .3s ease-in-out 
}

.container-4 button:hover{
   box-shadow: 10px 12px 15px 0 rgba(10,5,74,.15);
}

